<%= @player_1_name %> vs. <%= @player_2_name %>
<br>
<%= @player_2_name %>: 70HP
<%# <a href="/attack">Attack</a> ---click_link 'Attack' %>

<form action="/attack">
    <input type="submit" value="Attack">
</form>
